<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodRestro Login</title>
  <link rel="stylesheet" href="/login.css">
  <link rel="icon" href="/images/food-app.png">
</head>
<body>
  <div class="login-container">
    <h2>Login to FoodRestro</h2>
    <form action="/FoodRestro" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
      <p style="color:red">
        <%if(err){%>
        <%=value%></p>
        <%}%>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
    </form>
    <p class="register-link">Don't have an account? <a href="http://localhost:9000/CreateAccount">Register here</a></p>
  </div>
</body>
</html>
